<a href="https://colab.research.google.com/github/ashraftechxyz/BRO/blob/main/Assigement_1_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BASIC LEVEL QUESTIONS**

In [ ]:

# question no 1
x = 40
y = 50
x = (x + y)
y = (y - x)
print("x = " ,  x)
print("y = " ,  y)

x =  90
y =  -40

In [ ]:
x = 5
y = 10
x+=1
y-=1
print("x = " ,  x)
print("y = " ,  y)

x =  6
y =  9

In [ ]:
# question no 2
length = int(input("entere a length --> "))
width = int(input("entere a width --> "))
area  = length * width
print ("area of rectengal " , area )

entere a length --> 10
entere a width --> 15
area of rectengal  150

In [ ]:
# question number 3
temp = int(input(" Enter a celsius째 --> "))
fahrenheit = ( temp * 9/5) + 32
print ('fahrenheit째 --> ' , fahrenheit)

 Enter a celsius째 --> -18
fahrenheit째 -->  -0.3999999999999986

In [ ]:
# string base question
# question number 4
x = 'mohd afjla khan'
len(x)

15

In [ ]:
#question number 5  create a program that takes a sentence from the user and counts the number of vowels in the string
sentence = input("enter your sentence--> ")
count = 0
l = ['a' , 'e' , 'i' , 'o' , 'u' , 'A' , 'E' , 'I' 'O' 'U']
for i in sentence :
   if i in l:
    count+=1
print( count)

enter your sentence--> Hello World! Welcome to Python.
8

In [ ]:
# question number 6
x1 = ['a','b' , 'e' , 'i' , 'o' , 'u' , 'z']
x1.reverse()
x1

['z', 'u', 'o', 'i', 'e', 'b', 'a']

In [ ]:
# question number 6
x = 'hellow world'
reverse = x[::-1]
print(reverse)

dlrow wolleh

In [ ]:
# question number 7
x = input("Enter a string--> ")
y = x[::-1]
if y == x :
  print("palindrome")
else :
  print("not palindrome")

Enter a string--> afjal
not palindrome

In [ ]:
# question number 7
x = input("Enter a string--> ")
if x == x[::-1] :
  print("palindrome")
else :
  print("not palindrome")

Enter a string--> madam
palindrome

In [ ]:
# question number 8
x = "mohd afjal khan"
x.replace(" " , "")

'mohdafjalkhan'

In [ ]:
# question number 8
text = input("Enter a String : ")
modified_text = text.replace(" " , "")
print ("String Without Space : " , modified_text)

Enter a String : mohd ashraf khan
String Without Space :  mohdashrafkhan

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = [1,2,3,4,5,6,7]
count = 0
for i in num:
  count += 1*i
print(count)

28

In [ ]:
text  = "character"
reverse = text[::-1]
print (reverse)

retcarahc

In [ ]:
text = " Mohd afjal khan "
for i in range(len(text)-1,-1,-1): # used in step
  print(text[i],end="")

 nahk lajfa dhoM

In [ ]:
x = "mohd afjal khan"
for i in reversed(x):
  print(i,end="")

nahk lajfa dhom

In [ ]:
# question number 4
num  = int(input("enter a number : "))
factorial = 1
for i in range(1,num +1 ):
   factorial *= i
print(f"Facrorial of {num} is {factorial}")

enter a number : 5
Facrorial of 5 is 120

In [ ]:
# question number 4
num  = int(input("enter a number : "))
factorial = 1
for i in range(1,num +1,1):
    factorial *= i
    print(i,"! --> ", factorial)

enter a number : 5
1 ! -->  1
2 ! -->  2
3 ! -->  6
4 ! -->  24
5 ! -->  120

In [ ]:
num = int (input("enter a numbrer : "))
table = 0

for i in range(1,11):
  table +=num
  x = 5
  print (x , "*" , i ,"=",table)

enter a numbrer : 100
5 * 1 = 100
5 * 2 = 200
5 * 3 = 300
5 * 4 = 400
5 * 5 = 500
5 * 6 = 600
5 * 7 = 700
5 * 8 = 800
5 * 9 = 900
5 * 10 = 1000

In [ ]:
number = [1,5,2,6,9,4,3,8,7]
for i in number:
  if i % 2 == 0:
    print("even number" , i)
  else:
    print("odd number" , i)

odd number 1
odd number 5
even number 2
even number 6
odd number 9
even number 4
odd number 3
even number 8
odd number 7

In [ ]:
number = [1,5,2,6,9,4,3,8,7]
even  = 0
odd = 0

for i in number:
  if i % 2 == 0:
    even += 1
  else:
    odd+=1
print("even number : " , even)
print("odd number : " , odd)

even number :  4
odd number :  5

In [ ]:
for i in range(1,6):
   i*=i
   print(i)

1
4
9
16
25

In [ ]:
for num in range(1, 6):
   print(f"{num} is squre of {num ** 2}")

1 is squre of 1
2 is squre of 4
3 is squre of 9
4 is squre of 16
5 is squre of 25

In [ ]:
x = "mohd afjal khan"
len(x)

15

In [ ]:
text = "mohd afjal khan"
text_len = 0
for i in text:
   text_len+=1
print("text_len : " , text_len)

text_len :  15

In [ ]:
num = [10,20,30,15,25]
sum = 0
for i in num :
  sum+=i
print(sum, 'average' ,sum / len(num))

100 average 20.0

In [ ]:
n_num = int (input ("Enter a number : "))

a = 0
b = 1
for i in range(n_num):
  c = a+b
  a = b
  b = c
  print(c,end=" ")

Enter a number : 10
1 2 3 5 8 13 21 34 55 89

In [ ]:
# Function to print Fibonacci series up to n terms

n_num = int (input ("Enter a number : "))

a,b = 0,1  # First two Fibonacci numbers

for i in range(n_num):
  print(a,end= " ")    # Print the current Fibonacci number
  a,b = b,a+b   # Update values for next iteration

Enter a number : 10
0 1 1 2 3 5 8 13 21 34

# **INTERMEDIATE LEVEL QUESTION**

In [ ]:
my_list = [1,2,1,5,7,2,3,"Afjal","Afjal","khan"]
dup_remove = list(set(my_list))
for i in my_list:
  check_duplicate = set(my_list).intersection(dup_remove)
print(dup_remove)
print("Duplicate value : " , check_duplicate)

[1, 2, 3, 'khan', 5, 7, 'Afjal']
Duplicate value :  {1, 2, 3, 'khan', 5, 7, 'Afjal'}

In [ ]:
my_list = [1,2,1,5,7,2,3,"Afjal","Afjal","khan"]
dup_remove = list(set(my_list))

duplicate = set()
with_out_dup = set()

for item in my_list:
  if item in with_out_dup:
    duplicate.add(item)
  else:
    with_out_dup.add(item)

print("List after removing duplicates : " , dup_remove)
print("Duplicate value : " ,list( duplicate))

List after removing duplicates :  [1, 2, 3, 'khan', 5, 7, 'Afjal']
Duplicate value :  [1, 2, 'Afjal']

In [ ]:
# create a program that print the prime numbers in a given range using a for loop.

In [ ]:
# develop a program that count the number of vowels in a string using a for loop
vowels = ['a','e','i','o','u','A','E','I','O','U']
my_string = input("Enter a string : ")
count = 0

for i in my_string:
  if i in vowels:
    count+=1
count

Enter a string : mohd Afjal khan

4

In [ ]:
# write a program to find the maximum element in 2d list using a nested for loop

matrix = [
    [5,4,6],
    [2,1,9],
    [7,4,10]
]

maximum_element = matrix[0][0]

for row in matrix:
  for element in row:
    if element > maximum_element:
      maximum_element = element


print("maximum_number in given matrix : " , maximum_element)

maximum_number in given matrix :  10

In [ ]:
# create a program that removes all occurrences of a specific element from a list using a for loop.

my_list = [5,4,9,8,10,6,"Afjal",'khan']
occurrences_element = []
for i in my_list:
  if type(i) == int:
    occurrences_element.append(i)
print(occurrences_element)

[5, 4, 9, 8, 10, 6]

In [ ]:
my_list = [2,5,8,6,12,6,3,13]
occurrences_element = []

for i in my_list:
  if i % 2 == 0:
    continue
  else:
    occurrences_element.append(i)

print(occurrences_element)

[5, 3, 13]

In [ ]:
# develop a program that generates a multiplication table for numbers 1 to 5 using a nested for loop.
my_multiplication = [1,2,3,4,5]

for num in my_multiplication:
  for i in range(1,11):
    print (f"{num} x {i} = {i*num}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# creat a program to print the common elements from two list using a for loop

first_list = [1,2,3,4,5,6,1]
secound_list = [1,5,6,9,8,10]

common_element = []

for num in first_list:
  if num in  secound_list:
    common_element.append(num)

# Print the common elements
print("List 1:", first_list)
print("List 2:", secound_list)
print("Common Elements:", common_element)

List 1: [1, 2, 3, 4, 5, 6, 1]
List 2: [1, 5, 6, 9, 8, 10]
Common Elements: [1, 5, 6, 1]

In [ ]:
# write a program that convert a list of fahrenheit temperatures to celsius using a for loop

fahrenheit = int(input("Enter a Temperature : "))
celsius = (fahrenheit-32)*5/9
print(f"Conver fahrenheit : {fahrenheit} to celsius : {celsius}")

Enter a Temperature : 5
Conver fahrenheit : 5 to celsius : -15.0

In [ ]:
# List of Fahrenheit temperatures
fahrenheit = [70,80,40,32,110,-50]

# Empty list to store Celsius temperatures
celsius_temperature = []

# Convert each temperature using a for loop
for temp in fahrenheit:
  celsius = (temp-32)*5/9# Conversion formula
  celsius_temperature.append(celsius) # Append to the Celsius list

# Print the converted temperatures
print(f"fahrenheit temperature : {fahrenheit} ")
print(f"celsius temperature : {celsius_temperature}")

fahrenheit temperature : [70, 80, 40, 32, 110, -50]
celsius temperature : [21.11111111111111, 26.666666666666668, 4.444444444444445, 0.0, 43.333333333333336, -45.55555555555556]

In [ ]:
# develop a program that prints the pattern of righr angled triangles using a for loop use '*' to draw the pattern.
row = int(input("Enter a number : "))
for i in range(row+1):
  for j in range(i):
    print('*',end = " ")
  print()

Enter a number : 5

*
* *
* * *
* * * *
* * * * *

# **Ye question nahi huaa hai**

In [ ]:
# create a program that print the prime numbers in a given range using a for loop.

In [ ]:
# write a program to find the greatest common divisor (GCD) of two number using a for loop.

x = int(input("Enter a number : "))
y = int(input("Enter a number  : "))

minimum_num = min(x,y)

# Initialize GCD as 1 (minimum possible GCD)
GCD = 1

for i in range(1,minimum_num+1):
  x % i == 0 and y % i == 0
  GCD = i
print(GCD)

Enter a number : 56
Enter a number  : 98
56

In [ ]:
# 22. Write a program to find the prime factors of a given number using a for loop and list comprehension.

# **Advance Level Question**

In [ ]:
# 21 .  create a program that calculates the sum of the digits of number in a list using a list comprehension

def sum_of_dig (n):
  return sum(int(dig) for dig in str(n))

numbers = [123,456,789,34,67,1]

sums = [sum_of_dig(n) for n in numbers]

print("orignal list : " , numbers)
print("list comprehension : " , sums)

orignal list :  [123, 456, 789, 34, 67, 1]
list comprehension :  [6, 15, 24, 7, 13, 1]

In [ ]:
# 23. Develop a program that extrects unique elements from a list and stores them in a new list using a list comprehension.


# Original list with duplicate elements
List_elem = [2,45,7,2,45,'afjal' , 'khan' , 'afjal']


# Using list comprehension to extract unique elements
unique_elem_list = []
[unique_elem_list.append(i) for i in List_elem if i not in unique_elem_list]


# Display the unique list
print("Origna, list --> " , List_elem)
print("Unique list --> " ,  unique_elem_list)

Origna, list -->  [2, 45, 7, 2, 45, 'afjal', 'khan', 'afjal']
Unique list -->  [2, 45, 7, 'afjal', 'khan']

In [ ]:
# 24. Create a program that generates a list of all palindromic number up to a specified limit usint a list comprehension

def palindromic_num (i):
  return str(i) == str(i)[::-1]
limit = 50
palindromic_number = [ i for i in range(limit+1) if palindromic_num(i)]

print ("palindromic number upto " , limit , "are : " , palindromic_number)

palindromic number upto  50 are :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44]

In [ ]:
# 25. write a program to flatten a nested list using list comprehension.

def flat(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList

lis = [1,2,3,4,[6,4,7] ,"Khan" ,['Mohd'] , 0]
flat(lis)

[1, 2, 3, 4, 6, 4, 7, 'Khan', 'Mohd', 0]

In [ ]:
# 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

def sum_even_oddnum(List_num):

# sum of even number using list comprehension.
  sum_even = sum([ num for num in List_num if num%2==0 ])

# sum of odd number using list comprehension.
  sum_odd = sum([num for num in List_num if num%2 != 0 ])

  return sum_even , sum_odd


# Example usage
List_num = [12,45,78,96,43,63,9]
sum_even , sum_odd = sum_even_oddnum(List_num)

print('Sum of even num : ' , sum_even )
print("sum of odd num : " , sum_odd)

Sum of even num :  186
sum of odd num :  160

In [ ]:
# 27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

def squares_odd_num (start , end ):
      # Generate a list of squares of odd numbers in the given range
  squre_of_odd = [odd**2 for odd in range(start , end+1) if odd %2 != 0]
  return squre_of_odd

start_range = int(input("Enter a start number : "))
end_range = int(input("Enter a end number : "))

result = squares_odd_num(start_range , end_range)

print(f"Squares of odd numbers between {start_range} to {end_range}: {result}")

Enter a start number : 1
Enter a end number : 10
Squares of odd numbers between 1 to 10: [1, 9, 25, 49, 81]

In [ ]:
# 28. write a program that combines two list into a dictionary using list comprehention.

def combines_list (key , value ):
  into_dic = {key_list[i]:value_list[i] for i in range(len(key_list))}
  return into_dic

key_list = ["Name" , "Age" , "Collage" , "Subject"]
value_list = ["Afjal" , 18 , "IIT Patna" , ("Python with DSA" , "Computer science " )]

combines_list(key_list,value_list)

{'Name': 'Afjal',
 'Age': 18,
 'Collage': 'IIT Patna',
 'Subject': ('Python with DSA', 'Computer science ')}

In [ ]:
# 29. Develop a program that extracts  the vowels from a string and stores them in a list using list comprehention.

def count_vowels(x):
  vowels_list = [i for i in x if i in vowels]
  return vowels_list
vowels = "aeiouAEIOU"
x = input("Enter a string : ")

vowels_list = count_vowels(x)

print(f'Vowels in the string : {vowels_list} ')

Enter a string : My Name Is Mohd Afjal Khan
Vowels in the string : ['a', 'e', 'I', 'o', 'A', 'a', 'a']

In [16]:
# 30.  Create a program that removes all non_numeric characters from a list of strings using list comprehension.

def non_numeric_char (string):
  non_numerc =(" ".join([ i for i in string if i.isdigit()]))
  return non_numerc

string = input ("Enter a string : ")

non_numeric_char(string)

Enter a string : mfjalkhan@123kjui234';./,][!@#$

'1 2 3 2 3 4'

In [18]:
# join = join() ka kaam hai strings ko ek saath jodna  Ye ek string method hai jo ek list ya iterable (jaise list, tuple, etc.) ke elements ko ek single string mein combine kar deta hai.

words = ["Hello", "World", "Python"]
result = " ".join(words)
print(result)

Hello World Python

In [19]:
# isdigit() ek string method hai jo check karta hai ki koi character ya string sirf digits (0-9) se bana hai ya nahi. Agar haan, toh ye True return karta hai, aur agar nahi, toh False return karta hai.

print("123".isdigit())
print("12a".isdigit())

True
False

# BASIC IF-ELSE **STATMENT**

In [ ]:
# 1. write a python program to check if a given number is positive or negative.

number = int(input("Enter a number : "))

if number > 0 :
  print("positive number")
elif number == 0:
  print ("Zero")
else:
  print("Negative number")

Enter a number : -6
Negative number

In [ ]:
# 2. create a program that determines if a person is eligible to vote based on their age.

age = int(input("Enter a age : "))

if age >= 18:
  print(f'{age} eligible for vote')
else:
  print(f'{age} not eligible for vote')

Enter a age : 55
55 eligible for vote

In [ ]:
# 3. Develop a program to find the maximum of two number using if else statment.
5
x = int(input("Enter a first number : "))
y = int(input ("Enter a secound number : "))
if x > y :
  print((f"The maximum of {x} and {y} is: {x}"))
elif x==y:
  print("X and Y both are equle ")
else:
  print(f"The maximum of {x} and {y} is: {y}")

Enter a first number : -5
Enter a secound number : -9
The maximum of -5 and -9 is: -5

In [ ]:
# 4 . Write a python script to classify a given year as a leap year or not.
year = int(input("Enter a year : "))

if (year%4 == 0 and year % 100 != 0) or year%400 == 0 :
  print(f'{year} are leap year ')
else:
  print(f'{year} are not leap year')

Enter a year : 1900
1900 are not leap year

In [ ]:
# 5. create a program that check whether a character is a vowel or a consonant]
def check_vow_con (n):
  if n in  ['a','e','i','o','u','A','E','I','O','U']:
      return (f'{n} this character is vowel :')
  else:
    return(f'{n} this character is consonant :')

# n = input("Enter a character :")

In [ ]:
check_vow_con('a')

'a this character is vowel :'